

 #mobile-outline {
    outline: 20px solid #333;
    max-width: 412px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
 } 
 
 body {
    color: #626262;
    font-family: 'Sanchez', 'Times New Roman', serif;
 }
 
 a {
    text-decoration: none;
    transition: all .5s ease-in-out;
 }
 
 input, textarea {
    display: block;
    margin: 0;
    padding: 0;
 }
 
 .cr-red {
    color: #9a2018;
 }
 
 

 
  #main-nav label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 20px; 
 } 
 
 #main-nav input, #burger-con {
    display: none;
 }

 
 
 #main-nav input:checked ~ #burger-con{
    display: block;
 }
 
 #main-nav input:checked ~ label img {
    transform: rotate(90deg);
 }
 
 #main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 #main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #626262;
   
 }
 
 #main-nav ul li {
    border-bottom: 1px solid #efefef;
 }
 
 
 
 #main-nav ul li:first-child {
    border-top: 1px solid #efefef;
 }
 
 #main-nav ul li:last-child {
    margin-bottom: 10px;
 } 
 
 
 
 #logo {
    margin-bottom: 20px;
    max-width: 382px;
 }
 
 

 
 #hero {
    background: url(../images/dining.jpg) no-repeat;
    height: 200px;
 }
 
 .book-now {
    background-color: #9a2018;
    color: #fff;
    font-size: 16px;
    transition: background-color 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition:all 0.3s ease;
    cursor: pointer;
 }
 
 .book-now:hover {
    background-color: rgb(196, 28, 28);
 }
 

#sensitive-skin, #gluten, #vegan{
   width: 15px;
   height: 15px;
   margin: 0px;
}

#email, #first-name, #last-name {
   height: 30px;
}

#comments{
   height: 100px;
}


input[type="checkbox"]:checked + span:after{
  content: '\2729';
  width: 2px;
  height: 2px;
  color: black;
  background-color: yellow;
  border: 1px solid black;
  border-radius: 35%;
  padding: 0px;
  top: 10px;
  right: 18px;
  font-size: 24px;
  animation: fadeIn 0.7s;

}

@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
 #book-now-hero {
    height: 67px;
 }
 
 #hero-heading-box {
    align-self: end;
 }
 
 .hero-img-h2, .hero-img-h3 {
    background: rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: 14px;
 }
 
 .hero-img-h2 span,  .hero-img-h3 span {
    color: #9a2018;
    font-size: 12px;
 }
 
 .line-separator {
    margin-top: 20px;
    border-top: solid 3px #CF6666;
    padding-top: 20px;
 }
 
 #hero-summary p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
 }

 #opener {
   font-size: 14px;
   background-color: #efefef;
   padding: 20px;
 }
 

 
 .fas {
    font-size: 42px;
    color: #9a2018;
    margin: 0 auto;
    float: left;
 }
 
 .fa-mobile-alt {
    margin-right: 10px;
    margin-left: 3px;
    margin-bottom: 20px;
 }
 
 .fa-map-marker-alt {
    margin-right: 10px;
 }
 

button {
    margin-bottom: 13.4px;
    
}

button:first-child{
    margin-top: 14px;
}

#vegans {   
    background-color: #efefef;
    font-size: 14px;
    padding: 20px;
    margin: 0px;
    float: left;
   
}

 
 #dining-menu-hero-con {
   background: url(../images/couple-dining.jpg) no-repeat;
   height: 195px;
 }
 
 #dining-menu-heading-box {
    align-self: end;
 }
 
 #dining-menu {
   padding:0px;
   color: #626262;
   margin: 5px;
  
 }
 
 .dining-list {
   text-align: left;
   font-size: 12px;
   padding: 10px;
   margin-right: 50px;

 }

 a {
   color:#626262;
   font-family: 'Sanchez', 'Times New Roman', serif;
   font-size: 14px;
 }

.lightbox {
   display: block;
   height:auto;
   background-color: #efefef;
   border: 3px solid grey;
   margin-right: 50px;
   z-index: 200; 
   font-size: 15px;
   padding-left: 20px;
   width: 328px;
}

.lightbox:target {
   display: block !important;
}

#daily-features, #starters, #entrees, #desserts, #breakfast, #lunch, #drinks, #book-now {
   display: none;
}

#lightbox_close {
   font-size: x-large;
   color:#707070;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-decoration: dashed;
   text-align: right;
   padding: 0px;
   margin-left: 305px;
}

#lightbox_close:hover {
   opacity: 0.5;
   color: #871C15;
}

#d-f-button, #starters-button, #entrees-button, #desserts-button, #lunch-button, #breakfast-button, #drinks-button {
   
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-decoration: none;
   color: #626262;
   list-style-type: none;
   border: 1px solid white ;
   padding: 12px;
   margin: 5px;
   text-align: left;
   background-color: #efefef; 
   
}
 
 #chef-image, #excellence-image{
   float: left;
   width: 145px;
   height: 275px;
   margin:0px;
}

#excellence, #chef {
   text-align: left;
   width:160px;
   margin:0px; 
   padding: 0px;
   font-size: 14;
 
}


 #excellence-con {
    background: url(../images/wine_dine.jpg);
    height: 195px;
    background-repeat: no-repeat;
 }
 
 #excellence-heading-box {
    align-self: end;
 }

 #excellence-sect {
   background-color: #efefef;
 }
 
 

 

 
 #footer-hero {
    background-image: url(../images/footer.jpg);
     background-repeat: no-repeat;
    color: #fff;
    font-size: 12px;
    margin-top: 40px;
    padding-bottom: 80px;
 }
 
 #footer-hero h3 {
    margin-top: 30px;
    font-size: 28px;
    margin-bottom: 16px;
 }
 
 #footer-privacy .line-seperator {
    margin-top: 0px;
 }
 
 #footer-contact-info h3 {
    font-size: 23px;
 }
 
 #footer-contact-info p {
    margin-bottom: 20px;
    line-height: 18px;
    font-size: 11px;
 }