/* ---Mini CSS reset--- */

body, p, h1, h2, h3, h4, h5 {
    margin: 0px; 
    padding: 0px;
 }
 
 /* ---Utility Classes--- */
 
 .hidden {
    display: none;
 }
 
 /* ---Mobile Library Grid Styles--- */
 
  .grid-con { 
    display: grid;
    grid-template-columns: repeat(4, 73px);
    column-gap: 30px;
    max-width: 382px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
 }
 
.l-b-grid-con {
   display: grid;
   grid-template-columns: repeat(9, 25px);
   column-gap: 10px;
   max-width: 382px;
   margin: 0 auto;
   padding-left: 15px;
   padding-left: 15px;
}


 .col-span-1	{grid-column: span 1 / span 1;}
 .col-span-2	{grid-column: span 2 / span 2;}
 .col-span-3	{grid-column: span 3 / span 3;}
 .col-span-4	{grid-column: span 4 / span 4;}
 
 .col-span-full {grid-column: 1 / -1;}
 
 .col-start-1	{grid-column-start: 1;}
 .col-start-2	{grid-column-start: 2;}
 .col-start-3	{grid-column-start: 3;}
 .col-start-4	{grid-column-start: 4;}


 .col-span-5 {grid-column: span 5/ span 5;}

.col-span-8 {grid-column: span 8/ span 8;}